# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Jupyter
.ipynb_checkpoints

# Logs
logs/
*.log

# Vector DB files
chroma_db/
chroma_db_v2/

# Environment variables
.env
*.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
